<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>Naja Test</title>

	<link rel="stylesheet" type="text/css" href="{$basePath}/node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{$basePath}/node_modules/happy-inputs/src/happy.css">
	<link rel="stylesheet" type="text/css" href="{$basePath}/node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css">
	<link rel="stylesheet" type="text/css" href="{$basePath}/css/datagrid.css">
	<link rel="stylesheet" type="text/css" href="{$basePath}/css/datagrid-spinners.css">
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	<div class="container">
		{include content}
	</div>

	{block scripts}
		<script type="text/javascript" src="{$basePath}/dist/bundle.js"></script>
		<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
	{/block}
</body>
</html>
