<div n:snippet>
	<h2>{$foo}</h2>

	<a class="btn btn-primary ajax" n:href="plusOne!">+ 1</a>
	<a class="btn btn-primary ajax" n:href="minusOne!">- 1</a>
	<a class="btn btn-primary ajax" n:href="timesTwo!">* 2</a>
</div>
